# This file is only necessary if you're actually using this as a bare repo. Ignore everything by default to make sure we can tab complete "git add <FILE>" without it being overwhelmed
/*
# permit everything else

# specific config files
!/.config/
/.config/*
!/.config/btop/
!/.config/fontconfig/
!/.config/kitty/
!/.config/lazygit/
!/.config/mpd/
!/.config/mpv/
!/.config/npm/
!/.config/nvim/
!/.config/python/
!/.config/ripgrep/
!/.config/rmpc/
!/.config/shell/
!/.config/yazi/
!/.config/yt-dlp/
!/.config/zathura/

# personal scripts are stored here, .local/bin/ is for installed scripts
!/bin/

# permit ~/.local/share/applications (XDG spec) and ~/.local/share/dotfiles (miscellaneous )
!/.local/
/.local/*
#!/.local/bin/
!/.local/share/
/.local/share/*
!/.local/share/applications/
!/.local/share/dotfiles/

# ignore private files
*.private

# repo root
!/.editorconfig
!/.gitignore
!/README.md
!/LICENSE
